<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Webpack 4 Boilerplate</a>
    </div>
  </nav>

  <main class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Create Beautiful Things</h1>
          <p class="lead"><img id="logo" class="img-fluid" src="./assets/img/logo.png" /></p>
        </div>
      </div>
    </div>
  </main>

</body>

</html>